<?xml version="1.0"?>
<launch>
  <!-- Load the URDF -->

    <arg name="model" default="$(find robotics)/robotics_description/urdf/p1.xacro use_nominal_extrinsics:=true add_plug:=true"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <include file="$(find robotics)/robotics_gazebo/launch/gazebo.launch">
      <arg name="model" value="$(arg model)" />
    </include>

    
    <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />


</launch>
